img{
  margin-top: 1em;
  width: 40%;
  height: 40%;
}

.titoloFilm{
  font-size: 1.5em;
  margin: 1em;
  font-weight: bolder;
}

.container{
  display: flex;
  justify-content: center;
}

article{
  width: 100%;
  height: 100%;
}